{% extends 'base.html' %}
{% load static %}
{% block body %}
  <br />
  <br />
  <br />
  <br />
  <br />
  <!-- syte-main start -->
  <div class="site-main">
    <!-- contact-intro-section-start -->
    <section class="ttm-row contact-details-section clearfix">
      <div class="container">
        <!-- row -->
        <div class="row text-left">
          <div class="col-lg-9 col-md-9">
            <div class="section-title clearfix">
              <h4>GET IN TOUCH</h4>
              <h2 class="title">Contact Us</h2>
              <div class="heading-seperator">
                <span></span>
              </div>
              <p>Our customer can contact us using call us, mail, and also reach us at the given location</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-style-border ttm-btn-color-black mt-55 pull-right mb-25" href="/events" title="">View Events</a>
          </div>
        </div>
        <!-- row-end -->
        <div class="row mt-25">
          <div class="col-md-4">
            <div class="featured-box style2 left-icon icon-align-top">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-size-sm ttm-icon_element-color-skincolor ttm-icon_element-style-round">
                  <i class="ti ti-headphone-alt"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Phone</h5>
                </div>
                <div class="featured-desc">
                    <a href="tel:+91 9724689895" style="text-decoration: none; color: inherit;">
                        <p>Phone +91 9724689895</p>
                      </a>
                </div>
              </div>
            </div>
            <!-- featured-box end -->
          </div>
          <div class="col-md-4">
            <div class="featured-box style2 left-icon icon-align-top">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-size-sm ttm-icon_element-color-skincolor ttm-icon_element-style-round">
                  <i class="ti ti-location-pin"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>Address</h5>
                </div>
                <div class="featured-desc">
                    <a href="https://www.google.co.in/maps/dir//22.9798067,72.4960561/@22.979744,72.4958905,45m/data=!3m1!1e3!4m2!4m1!3e1!5m1!1e4?entry=ttu&g_ep=EgoyMDI1MDQyMy4wIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D" target="_blank" style="text-decoration: none; color: inherit;">
                        <p>
                          Krishna nagar Society, Ujala<br />Ahmedabad-382210
                        </p>
                      </a>
                </div>
              </div>
            </div>
            <!-- featured-box end -->
          </div>
          <div class="col-md-4">
            <div class="featured-box style2 left-icon icon-align-top">
              <div class="featured-icon">
                <div class="ttm-icon ttm-icon_element-size-sm ttm-icon_element-color-skincolor ttm-icon_element-style-round">
                  <i class="ti ti-email"></i>
                </div>
              </div>
              <div class="featured-content">
                <div class="featured-title">
                  <h5>E-Mail</h5>
                </div>
                <div class="featured-desc">
                  <p>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=ketanrathod0106@gmail.com&su=Book+Event" target="_blank" style="text-decoration: none; color: inherit;">ketanrathod0106@gmail.com</a>
                    <br />
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=2202030430067@silveroakuni.ac.in&su=Book+Event" target="_blank" style="text-decoration: none; color: inherit;">2202030430067@silveroakuni.ac.in</a>
                  </p>
                </div>
              </div>
            </div>
            <!-- featured-box end -->
          </div>
        </div>
      </div>
    </section>
    <!-- contact-intro-section-end -->
    <section class="ttm-row contact-form-section2 bg-layer break-991-colum clearfix">
      <div class="container">
        <div class="row res-1199-mlr-15 g-0">
          <div class="col-md-4 col-lg-4">
            <!-- col-bg-img-three -->
            <div class="col-bg-img-three ttm-col-bgimage-yes ttm-bg">
              <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
              <div class="layer-content"></div>
            </div>
            <!-- col-bg-img-three end -->
            <img src="images/bg-image/col-bgimage-3.jpg" class="ttm-equal-height-image" alt="bg-image" />
          </div>
          <div class="col-md-8 col-lg-8">
            <div class="padding-12 box-shadow">
              <!-- section title -->
              <div class="section-title clearfix mb-30">
                <h3 class="title text-center">Get In Touch</h3>
                <p>
                  <strong>Note:</strong>* fields are mendatory to submit
                </p>
              </div>
              <!-- section title end -->
              <form id="contactform" class="row contactform wrap-form clearfix" method="POST" action="{% url 'review_form' %}" novalidate="novalidate">
                {% csrf_token %}
                <label class="col-md-6">
                  <i class="ti ti-user"></i>
                  <span class="ttm-form-control"><input class="text-input" name="name" type="text" placeholder="Your Name:*" required /></span>
                </label>
                <label class="col-md-6">
                  <i class="ti ti-email"></i>
                  <span class="ttm-form-control"><input class="email" name="email" type="email" placeholder="Your email-id:*" required /></span>
                </label>
                <label class="col-md-6">
                  <i class="ti ti-location-pin"></i>
                  <span class="ttm-form-control"><input class="text-input" name="venue" type="text" placeholder="Venue" /></span>
                </label>
                <label class="col-md-6">
                  <i class="ti ti-mobile"></i>
                  <span class="ttm-form-control"><input class="phone" name="phone" type="text" placeholder="Your Number:*" /></span>
                </label>
                <label class="col-md-12">
                  <i class="ti ti-comment"></i>
                  <span class="ttm-form-control"><textarea class="text-area" name="message" placeholder="Your Message:*" required></textarea></span>
                </label>
                <input name="submit" type="submit" value="Send Message" class="ttm-btn ttm-btn-size-md ttm-btn-shape-round ttm-btn-style-fill ttm-btn-color-skincolor mt-20" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- map-start -->
    <div class="map-wrapper">
      <div id="map_canvas"></div>
    </div>
    <!-- map-end -->
  </div>

  <script src="http://maps.googleapis.com/maps/api/js?key="></script>
  <script>
    function initialize() {
      var latlng = new google.maps.LatLng(-34.397, 150.644)
      var myOptions = {
        zoom: 8,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById('map_canvas'), myOptions)
    }
    google.maps.event.addDomListener(window, 'load', initialize)
  </script>
{% endblock %}
