{% extends 'base.html' %}
{% load static %}
{% block body %}
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <!--site-main-->
        <div class="site-main">

            <section class="ttm-sidebar clearfix ttm-sidebar-section ttm-bgcolor-dark-grey">
                <div class="container">
                    <!-- row -->
                    <div class="row ttm-sidebar-left">
                        <div class="col-lg-9 content-area">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ttm_single_image-wrapper mb-20">
                                        <img class="img-fluid" src="{% static 'images/blog/blog5.jpg' %}" alt="img">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ttm_single_image-wrapper mb-20">
                                        <img class="img-fluid" src="{% static 'images/bg-image/col-bgimage-5.jpg' %}" alt="img">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mt-10 mb-35 ttm-service-description">
                                        <h3>Engaging event attendees can be difficult – and blowing them away is even harder.</h3>
                                        <p>Lorem ipsum dolor sit amet, eos alia alterum efficiendi ut, te essent albucius conclusionemque his. Cums suasas eligendi perfecto te. Eos posse semper officiis an. Qui ex tale partiendo, his te affert mediocrem molestiae, eama vide appetere ne. Qui ex tale partiendo, his te affert mediocrem molestiae.</p>
                                        <p>At Cole, Scott & Kissane, P.A. our commitment to a diverse law firm and inclusive work environment is paramount to the success of our firm and our communities.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-box padding-6 col-md-12 ttm-bgcolor-white box-shadow">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <ul class="ttm-list ttm-list-style-icon ttm-textcolor-skincolor">
                                            <li><i class="fa fa-check"></i><span class="ttm-list-li-content">Web Design &amp; Development</span>
                                            </li>
                                            <li><i class="fa fa-check"></i><span class="ttm-list-li-content">Script Writing</span>
                                            </li>
                                            <li><i class="fa fa-check"></i><span class="ttm-list-li-content">Event collateral design and production.</span>
                                            </li>
                                            <li><i class="fa fa-check"></i><span class="ttm-list-li-content">Web design and managment</span>
                                            </li>
                                            <li><i class="fa fa-check"></i><span class="ttm-list-li-content">eDM campaigns</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <ul class="ttm-list ttm-list-style-icon ttm-textcolor-skincolor">
                                            <li><i class="fa fa-check"></i><span class="ttm-list-li-content">Event strategy &amp; planning</span>
                                            </li>
                                            <li><i class="fa fa-check"></i><span class="ttm-list-li-content">Delegate journey</span>
                                            </li>
                                            <li><i class="fa fa-check"></i><span class="ttm-list-li-content">On screen content</span>
                                            </li>
                                            <li><i class="fa fa-check"></i><span class="ttm-list-li-content">Video production</span>
                                            </li>
                                            <li><i class="fa fa-check"></i><span class="ttm-list-li-content">Branding and visual identity</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-30 ttm-service-description">
                                <h4>Our Strategy</h4>
                                <p>Sit solum philosophia ad. No omnes fabulas splendide usu, modo prima singulis est ad. Quod facilisi qui at. Eum congue eligendi moderatius ne, sea ut dolorum petentium. Porro vulputate instructior per ne. Sed choro facilisis similique in, tamquam complectitur vis et.</p>
                                <p>Cum nonumy democritum cu. Tempor minimum senserit te sed, nihil feugait deleniti vim an. Id pri putent timeam alienum, graeco molestiae quo ad.</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- wrap-acadion -->
                                    <div class="wrap-acadion">
                                        <div class="accordion mb-20">
                                            <!-- toggle -->
                                            <div class="toggle ttm-style-classic ttm-toggle-title toggle-left-click-event">
                                                <h4 class="toggle-title">Trade show strategy consultation</h4>
                                                <div class="toggle-content">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable.</p>
                                                </div>
                                            </div><!-- toggle end -->
                                            <!-- toggle -->
                                            <div class="toggle ttm-style-classic ttm-toggle-title toggle-left-click-event">
                                                <h4 class="toggle-title">Full project management</h4>
                                                <div class="toggle-content">
                                                    <p>Show budgets, timelines, attendee housing and ragistration, exhibit structure planning, shipment management</p>
                                                </div>
                                            </div><!-- toggle end -->
                                             <!-- toggle -->
                                            <div class="toggle ttm-style-classic ttm-toggle-title toggle-left-click-event">
                                                <h4 class="toggle-title">On-site support</h4>
                                                <div class="toggle-content">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable.</p>
                                                </div>
                                            </div><!-- toggle end -->
                                             <!-- toggle -->
                                            <div class="toggle ttm-style-classic ttm-toggle-title toggle-left-click-event">
                                                <h4 class="toggle-title">Post-trade show support</h4>
                                                <div class="toggle-content">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even.</p>
                                                </div>
                                            </div><!-- toggle end -->
                                        </div>
                                    </div><!-- wrap-acadion end-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 sidebar sidebar-left widget-area">
                            <aside class="widget widget-nav-menu box-shadow">
                                <ul class="widget-menu">
                                    <li class="active"><a href="/book">Book Event Now</a></li>
                                </ul>
                            </aside>
                            <aside class="widget widget_media_image">
                                <a href="#"><img class="img-fluid" src="{% static 'images/banner-img.png' %}" alt="banner-image"></a>
                            </aside>
                            <aside class="widget contact-widget ttm-bgcolor-white box-shadow">
                                <h3 class="widget-title">Get in touch</h3>
                                <ul class="contact-widget-wrapper">
                                    <li><i class="fa fa-map-marker"></i>Honey Business <br>  24 Fifth st., Los Angeles, USA</li>
                                    <li><i class="fa fa-envelope-o"></i><a href="mailto:info@example.com" target="_blank">info@example.com</a></li>
                                    <li><i class="fa fa-phone"></i>(+01) 123 456 7890</li>
                                </ul>
                            </aside>
                            <aside class="widget contact-widget ttm-bgcolor-white box-shadow">
                                <h3 class="widget-title">Want to customize this event?</h3>
                                <p>Contact with us through our representative or submit a business inquiry online.</p>
                                <a href="/contact" class="ttm-btn btn-inline">Contact Us <i class="fa fa-angle-double-right"></i></a>
                            </aside>
                        </div>
                    </div><!-- row end -->
                </div>
            </section>


        </div><!-- site-main end -->
{% endblock %}